﻿@model SpotifyInformationGrabber.Models.Artist

@{
    ViewBag.Title = "Artist";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<ul>
    @foreach (var album in Model.Albums.OrderByDescending(a => a.ReleaseDate))
    {
        <li>
            <a href="/Albums/Details/@Html.DisplayFor(modelItem => album.SpotifyID)">
                @Html.DisplayFor(modelItem => album.Name) (@album.ReleaseDate.ToString("yyyy"))
            </a>
        </li>
    }
</ul>
