﻿@model IEnumerable<SpotifyInformationGrabber.Models.Artist>

@{
    ViewBag.Title = "Search Results";
}

<h2>Mis artistas</h2>
<hr />
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="/MyArtists/Details/@Html.DisplayFor(modelItem => item.SpotifyID)">
                @Html.DisplayFor(modelItem => item.Name)</a>
        </li>
    }
</ul>