﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <section class="header">
            <br />
            <div class="row">
                <form method="post" action="/ArtistSearch/Search">
                    <div class="six columns">
                        <input class="u-full-width" placeholder="Busca un artista..." id="artistSearch" name="artistSearch" type="text">
                    </div>
                    <div class="two columns">
                        <button class="button" type="submit">Buscar</button>
                    </div>
                </form>

                <div class="four columns">
                    <a class="button" href="/MyArtists">Mis artistas</a>
                </div>
            </div>
        </section>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
