﻿@model SpotifyInformationGrabber.Models.Album

@{
    ViewBag.Title = "Album";
}
<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<p>
    Popularidad: @Html.DisplayFor(model => model.Popularity)
    <br />
    Duración de la cancion mas larga:
    @ViewBag.LongestTrack.Name (@ViewBag.LongestTrack.LengthMs ms)
</p>
<div>
    <ul>
        @foreach (var song in Model.Songs)
        {
            <li>@Html.DisplayFor(modelItem => song.Name)</li>
        }
    </ul>
</div>