﻿@model IEnumerable<SpotifyInformationGrabber.Models.Artist>

@{
    ViewBag.Title = "Artists";
}

<div>
    <hr />
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="/MyArtists/Details/@Html.DisplayFor(modelItem => item.SpotifyID)">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </li>
        }
    </ul>
</div>
